*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100vh;
	width: 100%;
	background: url('layered-waves-haikei.svg') center no-repeat;
	background-size: cover;
}
.container{
    background-color: #ffffff;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
	transform: rotateX(50deg);
	transform-origin: 50% 50%;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.wrapper {
	transform: translateY(50px);
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(50deg);
    }
    100%{
        transform: rotateX(2030deg);
    }
}
@keyframes toss{
    0%,100%{
        transform: translateY(50px) scale(1);
    }
    50%{
        transform: translateY(-100px) scale(1.1);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(50deg);
    }
    100%{
        transform: rotateX(2210deg);
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #EF5F67;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: #EF5F67;
    color: #ffffff;
}
#flip-button:disabled,
#reset-button:disabled{
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    background-color: #ffffff;
    color: #EF5F67;
}
@media screen and (max-width: 450px) {
	.container {
		width: 300px;
	}
	button {
		cursor: default;
	}
	#flip-button {
		margin-right: 5px;
	}
}